.button {
    @apply .bg-button .no-underline .rounded-lg .text-sm .py-2 .px-5;
    color: white;

    &.is-outlined {
        @apply .bg-card .border .border-accent .text-accent;
    }

    .theme-light & {
        box-shadow: 0 2px 7px 0 #b0eaff;
    }

    .theme-dark & {
        box-shadow: 0 2px 7px 0 #00658b;
    }
}
