.theme-light {
    --page-background-color: #f5f6f9;
    --card-background-color: white;
    --button-background-color: #47cdff;
    --header-background-color: white;

    --text-default-color: #222;
    --text-accent-color: #47cdff;
    --text-accent-light-color: #8ae2fe;
    --text-muted-color: rgba(0, 0, 0, 0.3);
    --text-muted-light-color: rgba(255, 255, 255, 0.1);
    --text-muted-light-color: #e1e6e8;
    --text-error-color: red;
}
